* {
    padding: 0;
    border: 1px solid grey;
    border-radius: 3px;
    width: 550px;
    margin: auto;
  }
  
  body {
    background-color: wheat;
    height: -11vh;
    align-items: center;
  }

  